<h3 class="ui right floated button">
<%= link_to "Login", trips_path, class: "ui inverted purple button" %>
</h3>
<br />
<br />
<h1 class="ui center aligned purple header">Sign up</h1>

<div class="ui center aligned header">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br />
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
<br />
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Sign up", class: "ui inverted purple button" %>
  </div>
<% end %>

</div>
