<h3 class="ui right floated button">
<%= link_to "Login", trips_path, class: "ui inverted purple button" %>
</h3>
<br />
<br />
<h1 class="ui center aligned purple header">Forgot your password?</h1>

<div class="ui center aligned header">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ui input" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Reset Password", class: "ui inverted purple button" %>
  </div>
<% end %>


</div>
