<h1>Address</h1>
<%= @address.street %>
<br />
<%= @address.city %>
<br />
<%= @address.state %>
<br />
<%= @address.zip %>
<br />
<%= link_to 'Edit', edit_location_address_path(@location, @address) %>
<%= link_to 'Delete', location_address_path(@location, @address), method: :delete %>
