<!DOCTYPE html>
<html>
  <head>
    <title>ITrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="ui container">
  <%= render "layouts/navbar" %>
   <%= yield %>
=======
    <%= yield %>
>>>>>>> 66f7d5973321a7e805f970d1bc3f2c1a78ec770a
  </body>
</html>
